.product-specification{
    width:1280px;
    margin: 4rem 6rem ;
}

.product-specification-title {
    font-size: 48px;
    font-weight: 600;
    margin: 1rem 0;
}

.product-specification-description {
    color: #525252;
}
